/* RESPONSIVE DESIGN FOR SERVICES SECTION   */
/* .services{
    height:100vh;
} */
/* RESPONSIVE DESIGN FOR PROJECTS SECTION   */
/* .projects{
    height:170vh;
 }
 .projects .cards{
     position: absolute;
     bottom:-90px;
 } */